.todos__sort {
  &-inner {
    padding: 5px 15px;

    width: 280px;
    height: 60px;

    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;

    transition: background-color $transition-length ease-in-out;

    &[data-theme="sky-blue"] {
      background-color: $sky-blue-light;
    }

    &[data-theme="soft-pink"] {
      background-color: $soft-pink-dark;
    }

    &[data-theme="light"] {
      background-color: $light-dark;
    }

    &[data-theme="deep-dark"] {
      background-color: $deep-dark-dark;
    }
  }

  &-text {
    transition: color $transition-length ease-in-out;

    color: black;
    &[data-theme="light"] {
      color: $light-font-secondary;
    }

    &[data-theme="deep-dark"] {
      color: $deep-dark-main;
    }
  }

  &-selected {
    user-select: none;

    padding: 10px 30px 10px 10px;

    border-radius: 20px;

    width: 170px;

    &::after {
      content: "";
      display: block;

      width: 16px;
      height: 16px;

      background-image: url("/assets/arrow-down.png");

      position: absolute;
      right: 22px;
      bottom: 35%;
    }

    transition: background-color $transition-length ease-in-out,
      border $transition-length ease-in-out;

    &[data-theme="sky-blue"] {
      border: 1px solid $sky-blue-border;
      background-color: $sky-blue-dark;
    }

    &[data-theme="soft-pink"] {
      border: 1px solid $soft-pink-border;
      background-color: $soft-pink-light;
    }

    &[data-theme="light"] {
      border: 1px solid $light-border;
      background-color: $light-light;
    }

    &[data-theme="deep-dark"] {
      border: 1px solid $deep-dark-border;
      background-color: $deep-dark-light;
    }
  }

  &-select {
    cursor: pointer;
  }

  &-dropdown {
    position: absolute;
    right: 15px;

    width: 170px;
    height: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: 5px;

    border: none;

    border-radius: 20px;

    transition: height 0.3s ease-in-out, padding 0.3s ease-in-out,
      background-color $transition-length ease-in-out,
      border $transition-length ease-in-out;

    &.disabled {
      pointer-events: none;
    }

    &.open {
      padding: 15px 5px;
      height: 190px;
      z-index: 1;

      &[data-theme="sky-blue"] {
        background-color: $sky-blue-dark;
        border: 1px solid $sky-blue-border;
      }

      &[data-theme="soft-pink"] {
        background-color: $soft-pink-light;
        border: 1px solid $soft-pink-border;
      }

      &[data-theme="light"] {
        background-color: $light-light;
        border: 1px solid $light-border;
      }

      &[data-theme="deep-dark"] {
        background-color: $deep-dark-dark;
        border: 1px solid $deep-dark-border;
      }
    }

    &[data-theme="sky-blue"] {
      background-color: $sky-blue-dark;
    }

    &[data-theme="soft-pink"] {
      background-color: $soft-pink-light;
    }

    &[data-theme="light"] {
      background-color: $light-light;
    }

    &[data-theme="deep-dark"] {
      background-color: $deep-dark-dark;
    }
  }

  &-option {
    padding: 10px;
    border-radius: 15px;

    opacity: 0;

    transition: background-color 0.3s ease-in-out, opacity 0.2s ease-in-out,
      color 0.3s ease-in-out;

    &.open {
      user-select: none;
      opacity: 1;
    }

    &[aria-selected="true"] {
      &[data-theme="sky-blue"] {
        background-color: $sky-blue-border;
      }

      &[data-theme="soft-pink"] {
        background-color: $soft-pink-dark;
      }

      &[data-theme="light"] {
        color: $light-font-secondary;
        background-color: $light-dark;
      }

      &[data-theme="deep-dark"] {
        color: $deep-dark-secondary;
        background-color: $deep-dark-main;
      }
    }

    &:hover {
      border-radius: 15px;

      &[data-theme="sky-blue"] {
        background-color: $sky-blue-border;
      }

      &[data-theme="soft-pink"] {
        background-color: $soft-pink-dark;
      }

      &[data-theme="light"] {
        color: $light-font-secondary;
        background-color: $light-dark;
      }

      &[data-theme="deep-dark"] {
        color: $deep-dark-secondary;
        background-color: $deep-dark-main;
      }
    }
  }
}
