.todo {
  &__item {
    padding: 15px;

    width: 670px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    border-radius: 10px;

    transition: background-color $transition-lengh ease-in-out;

    &.removed {
      animation: remove 1s 1;
    }

    &[data-theme="sky-blue"] {
      background-color: $sky-blue-dark;
    }

    &[data-theme="soft-pink"] {
      background-color: $soft-pink-light;
    }
  }

  &__text {
    display: flex;
    align-self: end;

    &.complited {
      text-decoration: line-through;
      color: #959595;
    }
  }

  &__date {
    margin-top: 10px;

    font-size: 12px;
    color: #959595;
  }

  &__todo-box,
  &__control-box {
    display: flex;
    align-items: center;
    gap: 20px;

    transition: background-color $transition-lengh ease-in-out;

    &[data-theme="sky-blue"],
    &[data-theme="soft-pink"] {
      background-color: transparent;
    }
  }

  &__control-box {
    gap: 10px;
  }

  &__remove-button {
    cursor: pointer;
    border: none;
    padding: 0;
    background-color: transparent;

    width: 32px;
    height: 32px;

    background-image: url("../../../assets/trash.png");

    &:hover {
      background-image: url("../../../assets/trashRed.png");
    }
  }

  &__edit-button {
    cursor: pointer;
    border: none;
    padding: 0;
    background-color: transparent;

    width: 32px;
    height: 32px;

    background-image: url("../../../assets/editing.png");
    background-repeat: no-repeat;
    background-position: center;

    transform: scale(1);
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.15);
    }
  }

  &__edit-input {
    border: none;
    border-bottom: 1px solid black;

    width: 550px;

    font-family: $font-stack-main;
    font-size: 18px;

    transition: background-color $transition-lengh ease-in-out;

    &[data-theme="sky-blue"] {
      background-color: $sky-blue-dark;
    }

    &[data-theme="soft-pink"] {
      background-color: $soft-pink-light;
    }

    &:focus {
      outline: none;
    }
  }

  &__save-button {
    cursor: pointer;
    border: none;
    padding: 0;
    background-color: transparent;

    width: 32px;
    height: 32px;

    background-image: url("../../../assets/save.png");
    background-repeat: no-repeat;
    background-position: center;

    transform: scale(1);
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }
}

@keyframes remove {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(-2000px);
  }
}
