.todos {
  &__switch {
    &-inner {
      padding: 5px 25px;

      display: flex;
      align-items: center;
      gap: 30px;

      width: 280px;
      height: 60px;

      border-radius: 20px;

      position: relative;

      transition: background-color $transition-length ease-in-out;

      &[data-theme="sky-blue"] {
        background-color: $sky-blue-light;
      }

      &[data-theme="soft-pink"] {
        background-color: $soft-pink-dark;
      }

      &[data-theme="light"] {
        background-color: $light-dark;
      }

      &[data-theme="deep-dark"] {
        background-color: $deep-dark-dark;
      }
    }

    &-text {
      cursor: pointer;
      z-index: 2;
      color: black;

      transition: color $transition-length ease-in-out;

      &.current {
        &[data-theme="light"] {
          color: $light-font-main;
        }

        &[data-theme="deep-dark"] {
          color: $deep-dark-secondary;
        }
      }

      &[data-theme="light"] {
        color: $light-font-secondary;
      }

      &[data-theme="deep-dark"] {
        color: $deep-dark-main;
      }
    }

    &-slider {
      height: 40px;

      border-radius: 20px;

      position: absolute;
      left: 10px;
      top: 10px;

      z-index: 1;

      transition: transform 0.4s ease-in-out, width 0.4s ease-in-out,
        background-color $transition-length ease-in-out,
        border $transition-length ease-in-out;

      &[data-theme="sky-blue"] {
        border: 1px solid $sky-blue-border;
        background-color: $sky-blue-dark;
      }

      &[data-theme="soft-pink"] {
        border: 1px solid $soft-pink-border;
        background-color: $soft-pink-light;
      }

      &[data-theme="light"] {
        border: 1px solid $light-border;
        background-color: $light-light;
      }

      &[data-theme="deep-dark"] {
        border: $deep-dark-border;
        background-color: $deep-dark-main;
      }

      &.position-1 {
        width: 50px;
        transform: translateX(1px);
      }

      &.position-2 {
        width: 70px;
        transform: translateX(55px);
      }

      &.position-3 {
        width: 120px;
        transform: translateX(135px);
      }
    }
  }
}
