.input {
  &__search {
    margin-top: 50px;
    padding: 15px;

    width: 700px;

    border-radius: 20px;

    position: relative;

    transition: background-color $transition-length ease-in-out;

    &::after {
      content: "";
      cursor: pointer;

      position: absolute;
      top: 30px;
      left: 25px;

      display: block;
      width: 24px;
      height: 24px;

      background-image: url("/assets/search.png");
    }

    &[data-theme="sky-blue"] {
      background-color: $sky-blue-light;
    }

    &[data-theme="soft-pink"] {
      background-color: $soft-pink-dark;
    }

    &[data-theme="light"] {
      background-color: $light-dark;
    }

    &[data-theme="deep-dark"] {
      background-color: $deep-dark-dark;

      &::after {
        background-image: url("/assets/searchWhite.png");
      }
    }
  }
}

.search {
  &__input {
    padding: 15px 20px 15px 50px;

    width: 670px;

    border-radius: 20px;

    font-family: $font-stack-main;
    font-size: 18px;

    transition: border-color 0.3s ease-in-out,
      background-color $transition-length ease-in-out;

    &:focus {
      outline: none;

      &[data-theme="sky-blue"] {
        border-color: $deep-dark-dark;
      }

      &[data-theme="soft-pink"] {
        border-color: $deep-dark-dark;
      }

      &[data-theme="light"] {
        border-color: $light-dark;
      }

      &[data-theme="deep-dark"] {
        color: $deep-dark-main;
        border-color: $deep-dark-border;
      }
    }

    &[data-theme="sky-blue"] {
      background-color: $sky-blue-dark;
      border: 1px solid $sky-blue-light;
    }

    &[data-theme="soft-pink"] {
      background-color: $soft-pink-light;
      border: 1px solid $soft-pink-light;
    }

    &[data-theme="light"] {
      background-color: $light-light;
      border: 1px solid $light-light;
    }

    &[data-theme="deep-dark"] {
      color: $deep-dark-main;
      background-color: $deep-dark-light;
      border: 1px solid $deep-dark-dark;
    }
  }
}
