$transition-lengh: 1s;

$sky-blue-bg: white;
$sky-blue-dark: #cae4ff;
$sky-blue-light: #dff5ff;
$sky-blue-border: #8ec6f5;

$soft-pink-bg: #ffe9f9;
$soft-pink-dark: #ffcbdb;
$soft-pink-light: #f9e3ff;
$soft-pink-border: #f991bb;
