$font-stack-main: "Montserrat", sans-serif;
$transition-length: 1s;

$sky-blue-bg: #d7e9f7;
$sky-blue-dark: #cae4ff;
$sky-blue-light: #dff5ff;
$sky-blue-border: #8ec6f5;

$soft-pink-bg: #ffe9f9;
$soft-pink-dark: #ffcbdb;
$soft-pink-light: #f9e3ff;
$soft-pink-border: #f991bb;

$light-bg: #ffffff;
$light-dark: #000000;
$light-light: #ffffff;
$light-border: #635c5f;
$light-font-main: black;
$light-font-secondary: white;

$deep-dark-bg: #171717;
$deep-dark-dark: #2f3136;
$deep-dark-light: #36393e;
$deep-dark-border: #ffffff;
$deep-dark-main: #e5e5e5;
$deep-dark-secondary: #171717;
